:root {
    --text: #544343;
    --background: #d2e2d3;
    --primary: #f6e4f6;
    --secondary: #344b3a;
    --accent: #f8f7f8;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: "Hina Mincho";
}
h1{
    text-decoration: underline dotted
}

h2 {
    text-decoration: underline;
}

 a {
    font-style: italic;
    font-size: 18px;
 }

li::marker{
    color: var(--secondary);
}

 li {
    font-family: "Grandiflora One";
    font-weight: bold;
 }

img{
    padding: 10px;
    border:3px solid var(--accent);
    border-radius: 150px;
    background: var(--primary);
}