:root {
    --text: #544343;
    --background: #d2e2d3;
    --primary: #f6e4f6;
    --secondary: #344b3a;
    --accent: #f8f7f8;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: "Hina Mincho";
    margin: 1em;
}
h1{
    text-decoration: underline dotted #344b3a;
}

h2 {
    text-decoration: underline #344b3a;
}

h3 {
    border: 5px dashed var(--primary);
    width: 18em;
}

 a {
    font-style: italic;
    font-size: 18px;
    border: dashed white
 }

li::marker{
    color: var(--secondary);
    height: 10px;
}

 li {
    font-family: "Grandiflora One";
    font-weight: bold;
    border: thick double white;
    margin: 1%; 
    padding-left: 1em;
    width: 10em;
 }

img{
    padding: 10px;
    border:3px solid var(--accent);
    border-radius: 150px;
    background: var(--primary);
}