:root {
    --text: #050505;
    --background: #686867;
    --primary: #e3b1c4;
    --secondary:#ac9c8d;
    --accent: #610c27;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: "Hina Mincho";
    margin: 1em;
}

h1 {
    text-decoration: underline dotted #e3b1c4;
    text-align: center;
}


h2 {
    text-decoration: underline #e3b1c4;
    border: thick double var(--accent);
    text-align: center;
}

h3 {
    text-align: left;
}

a {
    font-style: italic;
    font-size: 18px;
    border: dashed #e3b1c4;
}

:link{
    color:var(--text);
}

:visited{
    color: var(--secondary)
}

li::marker {
    color: var(--secondary);
    height: 10px;
}

li {
    font-family: "Grandiflora One";
    font-weight: bold;
    margin: 1%;
    padding-left: 1em;
    width: 14em; 
}

img {
    padding: 10px;
    border: 1px solid var(--accent);
    border-radius: 100px;
    background: var(--accent);
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex * {
    width: 40%;
    border: 2px var(--accent);
    border-radius: 24px;
}